
        
      div.one
      {
          color:black;
          
          background-color:#00B389;
      }
      .one1
      {
          font-size: 35px;
      }  
      
      
    .space
    {
        padding-left: 50px;
    }
    .padding
    {
        padding-top: 23px;
    
    }
    .font a:hover,a:active{
        color:black;
        background-color:#00B389;
    }
    .font
    {
        font-size: 20px;
        text-decoration:none;
       
        
    }
   .font a:link,a:visited {
    background-color: #00B389;
    color:gold;
    
    text-align: center; 
    text-decoration:none;
    display: inline-block;
    }
    .button{
        width:150px;
        background-color: black;
        height:35px;
        padding:5px;
    }
    .button a:hover
    {
        background-color:cadetblue;   
    }
    .button a {
          color:white;
          font-size:17px;
          text-transform: uppercase;
          background-color: black;
    }
    img{
        border-radius: 25%;
    }
    div.two
    {
        
        padding:5px;
    }
    table{
        font-size:25px;
       
  padding-top:25px;
  padding-left:100px;
  
    }
    #tb  a{
        color:purple;
    }
    #tb  a:hover{
        background-color: aqua;
        color:black;
    }
    
    
    .btn {
background-color:transparent ;/* Blue background */
border: none; /* Remove borders */
color:#00B389; /* White text */
padding: 12px 16px; /* Some padding */
font-size: 16px; /* Set a font size */
cursor: pointer; /* Mouse pointer on hover */
}
a{
    text-decoration: none;
    color:gold;
}
ol{
    font-size:25px;
    list-style: none;
list-style-type: disc;
padding-top:25px;
background-color: #00B389;
}
a:hover{
    background-color: aqua;
    color:black;
}

[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-xs-1 {width: 8.33%;}
    .col-xs-2 {width: 16.66%;}
    .col-xs-3 {width: 25%;}
    .col-xs-4 {width: 33.33%;}
    .col-xs-5 {width: 41.66%;}
    .col-xs-6 {width: 50%;}
    .col-xs-7 {width: 58.33%;}
    .col-xs-8 {width: 66.66%;}
    .col-xs-9 {width: 75%;}
    .col-xs-10 {width: 83.33%;}
    .col-xs-11 {width: 91.66%;}
    .col-xs-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}