
        
      div.one
      {
          color:black;
          background-color:#00B389;
      }  
      body
      {
          margin:15px;
      }
      
    .space
    {
        padding-left: 50px;
    }
    .padding
    {
        padding-top: 23px;
    
    }
    .font a:hover,a:active{
        color:black;
        background-color:#00B389;
    }
    .font
    {
        font-size: 20px;
        text-decoration:none;
       
        
    }
    a:link,a:visited {
    background-color: #00B389;
    color:gold;
    
    text-align: center; 
    text-decoration:none;
    display: inline-block;
    }
    .button{
        width:150px;
        background-color: black;
        height:35px;
        padding:5px;
    }
    .button a:hover
    {
        background-color:cadetblue;   
    }
    .button a {
          color:white;
          font-size:17px;
          text-transform: uppercase;
          background-color: black;
    }